services:
  app:
    image: mcr.microsoft.com/devcontainers/typescript-node:1-24-bookworm
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    restart: unless-stopped